# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/
*.swp
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/ 

# Backup zip files
backup_trading_bot.zip